{% extends 'base.html' %}
{% load static %}
{% block content%}




    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Find </h4>
            <h2>Products  Real Price List For You</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Share your best products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Find last minute Real Price of Products</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          
            <div class="container mt-5" style="margin-left: 30%;margin-bottom: 100px;">
                <nav class="navbar navbar-light bg-light">
                  <form class="form-inline" action="{% url 'search_product_price' %}" method="get">
                  
                     
                      <select class="form-control" name = 'filter_by' place-holder = 'Choose Search options'>
                        <option value="description">description</option>
                        <option value="product_name">product_name</option>
                        <option value="post_date">post_date</option>
                        <option value="price">Price</option>
                  
          
                      </select>
                      
                    
                    <input class="form-control  lg mr-sm-2" name = 'query' id= 'query' type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </nav>
              </div>

          {% for item in page_obj%}
          <div class="col-lg-4 col-md-4 all dev">
            <div class="product-item">
              <a href="#"><img  height='200' src="{{item.product_image.url}}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>{{item.product_name}}</h4></a>
                <h6>{{item.price}} Birr</h6>
                <p>{{item.description}}.</p>
                <p style="color: crimson;">Current Price</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (12)</span>
                <a class="all-deals" href="#">See all deals <i class="fa fa-angle-right icon"></i></a>
              </div>
            </div>
          </div>
         {%endfor%}

        </div>
      </div>
    </div>


    <div class="pagination  container" style="margin-left: 28%;">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>



    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>DRIMS</em> Transport Acsess</h4>
                  <p>Have You Ever Need A product ? You Can Request For A New Product If You Didn't Find One In Our System </p>
                </div>
                <div class="col-md-4">
                  <a href="{% url 'add_wanted_product' %}" class="filled-button">Add Wanted Product </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
   


    


    

{%endblock%}