{% extends 'base.html' %}
{% load static %}

{% block content %}
   




    <!-- {{request.user.username}}<br>
    {{request.user.phone}}<br>
    <h1>{{role}}</h1> -->

      
    <!-- <form method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    -->
    <!-- <a href = "{% url 'logoutuser' %}" >Logout</a> -->
    <!-- <a href="{% url 'update_profile' %}">Edit My Profile </a> -->
    <!-- <a href="{% url 'profile_detail' %}">My Profile </a> -->
    <!-- <a href="{% url 'homepage' %}"> Home</a> -->
    <!-- {%if role == "You are Registered as Producer" %}
    <h2 style="color: limegreen;">You have No products  </h2>
    <a href="{% url 'create_product' %}">create_product</a>

    {%endif%} -->
   
    <!-- <div class="container-fluid item">
        <div class="row" >
    
<!-- 
           {% for item in product%}
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card" >
                    <img class="card-img-top" src="{{item.product_image.url}}" style="width: 100%;" height = '200' alt="Card image cap">
                    <div class="card-body" style="background-color: rgb(48, 169, 132);">
                      <h5 class="card-title" style="background-color: rgb(48, 169, 132);">{{item.product_name}}</h5>
                     <div style="max-height: 50px;">
                        <p  class="card-text" style="background-color: rgb(48, 169, 132);" >{{item.description}}</p>
                     </div>
                     <a href="#" class="btn btn-warning">Show Detail </a>
                      <a href="#" class="btn btn-danger">{{item.price}} Birr </a>
                      <span> {{item.amount}}</span> 
                    </div>
                  </div>
            </div>

            {%endfor%} -->


           <!-- <div class="col-lg-2"></div> --> 
           

 <div class="container mt-3">
  <!-- <h3 class="h3">shopping Demo-8 </h3> -->
  <div class="row">
    {% for item in product%}
      <div class="col-md-4 col-sm-6 mb-5 carrd">
          <div class="product-grid8">
              <div class="product-image8">
                  <a href="#"  class="picc">
                      <img class="pic-1" height='100' src="{{item.product_image.url}}">
                      <img class="pic-2" src="{{item.product_image.url}}">
                  </a>
                  <!-- <ul class="social">
                      <li><img src ="{% static 'images/shopping-bag (1).png' %} "></img></li>
                      <li><a href="" class="fa fa-shopping-bag"></a></li>
                      <li><a href="" class="fa fa-shopping-cart"></a></li>
                  </ul> -->
                  <span class="product-discount-label">{{item.amount}}</span>
              </div>
              <div class="product-content" style="height: 10px i !important;">
                  <div class="price">{{item.price}} Birr
                      <span>discount</span>
                  </div>
                  <span class="product-shipping">{{item.product_name}}</span>
                
                    <h3 class="title" >{{item.description}}</h3>
                  
                  
                  <a class="all-deals" href="{{ item.get_absloute_url }}">See all deals <i class="fa fa-angle-right icon"></i></a>
              </div>
          </div>
      </div>
      {%endfor%}

  </div>
</div>
<hr>

        
    </div>
    </div>
    <hr>
    {% endblock %}