{% extends 'base.html' %}

{% block content %}
<style>
    body{
    margin-top:20px;
    background-color: #f2f3f8;
}
    .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
</style>



<div class="container" style="margin-top: 100px;">


<form enctype ='multipart/form-data' method="POST" action="">
    
{% if field.errors %}
<div class="alert alert-danger">
    {{field.errors}}
</div>
{%endif%}
   {% csrf_token %}
   <div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Reset password</h1>
                    <p class="lead">
                        Enter your New Password to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control form-control-lg" type="password" name="new_password1" placeholder="Enter your New Password">
                                </div>
                                <div class="form-group">
                                    <label> Repeat Password</label>
                                    <input class="form-control form-control-lg" type="password" name="new_password2" placeholder="Confirm Your Password">
                                </div>
                                <div class="text-center mt-3">
                                    <button type ='submit' class="btn btn-lg btn-danger"> Change Password </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



</form>

</div>


{% endblock %}